.box {
    display: flex; 
    flex-direction: column;
    width: 90%;
    border: 2px solid rgb(198, 209, 209);
    padding: 20px;
     margin-bottom: 10px;
     border-radius: 15px;
     position:relative;
    text-align: justify;
    
   }
   .header {
     display: flex; 
    
    width: 90%;
    border: 2px solid rgb(198, 209, 209);
    padding: 20px;
     margin-bottom: 10px;
     border-radius: 15px;
     justify-content: space-between;
     font-size: 17px;
     color:rgb(14, 103, 109);
    }
   #file1{
     padding:6px;
     border-radius:5px;
     background-color:white;
     text-align: center;
     color:black;
     width:350px;
       
     }
     #file1:hover {background-color: rgb(230, 222, 222)}
     
     #file1:active {
       background-color: rgb(196, 190, 190);
       box-shadow: 0 5px #666;
       transform: translateY(4px);
     }
   
   
   
   .header_left {
    display: flex; 
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
     color:rgb(14, 103, 109);

   }

.header_logo {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
   .header_right {
    display: flex; 
    font-size: 17px;
    color:rgb(14, 103, 109);

    
   }
   .uno {
       display: flex;
       font-size: 17px;
    color:rgb(14, 103, 109);
    margin-right: 10px;
    margin-left: 10px;
   }
   .dos {
       display: flex;
       font-size: 17px;
    color:rgb(14, 103, 109);
    margin-right: 10px;
    margin-left: 10px;
   }
   .tres {
       display: flex;
       font-size: 17px;
    color:rgb(14, 103, 109);
    margin-right: 10px;
    margin-left: 10px;
   }
     .social  {
        display: flex; 
        flex-direction: column;
        width: 90%;
        border: 2px solid rgb(198, 209, 209);
        padding: 20px;
         margin-bottom: 10px;
         border-radius: 15px;
         justify-content: space-evenly;
         font-size: 17px;
         color:rgb(14, 103, 109);
         
     
     
   }
   .tw {
    display:flex;
    font-size: 17px;
    color:rgb(14, 103, 109);
    
    
     
     
   
   }
   
   .name{
     color:rgb(53, 86, 88);
     float: left;
     
     
     
   }
   h1 {
   
   background: linear-gradient(rgb(29, 156, 156),rgb(25, 27, 26));
   -webkit-background-clip: text;
   background-clip: text ;
   color: transparent;  
   padding-top: 20px;
   font-size: 50px;
   }
   h2 {
    background: linear-gradient(rgb(29, 156, 156),rgb(25, 27, 26));
    -webkit-background-clip: text;
    background-clip: text ;
    color: transparent;  
    font-size: 30px;
   }
   p {
     color: rgb(70, 66, 66);
     }
   li {
     color: rgb(70, 66, 66);
     display: grid; 
     grid-auto-columns: 1fr; 
     grid-template-columns: 0.5fr 1.5fr; 
     list-style-image: none;
     margin-left: 20;
   }
   .fotodeperfil {
     width: 140px;
     height: 140px;
     margin-left: 100px;
     margin-top: -50px;
     border-radius: 50%;
      
   }
   
   .background {
     
    
      width: 100%;
      border-radius: 10px 10px 10px 10px;
      height: 150px;
    
    
    
   }
     
   
   .btn-edit {
     font-size: 19px;
     color:rgb(29, 156, 156);
     
     float: right;
   
    
       
   }
   .btn-agregar {
     font-size: 17px;
     color:rgb(29, 156, 156);
     
     float: right;
     
     
   }
   .btn-borrar {
     font-size: 19px;
     color:rgb(29, 156, 156);
     
     float: right;
     margin-right: 10px;  
   }
   .btn-edit2{
     margin-left: 130px;
     color:rgb(29, 156, 156);
     font-size: 17px;
   }
   
   .bt2 {
     padding:6px;
     border-radius:5px;
     background-color:rgb(25, 151, 160);
     text-align: center;
     color:white;
     cursor: pointer;
     outline: none;
     width:100px;
      
   
   }
   .bt2:hover {background-color: rgb(14, 103, 109)}
   
   .bt2:active {
     background-color: rgb(7, 50, 53);
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }
   .bt3 {
     padding:6px;
     border-radius:5px;
     background-color:white;
     text-align: center;
     color:black;
     width:80px;
   }
   .bt3:hover {background-color: rgb(230, 222, 222)}
   
   .bt3:active {
     background-color: rgb(196, 190, 190);
     box-shadow: 0 5px #666;
     transform: translateY(4px);
   }
   
   ul.listaiconos li {
     list-style: none;
     display: block;
   }
   ul.listaiconos li::before {
     content: '';
     display: inline-block;
     height: 20px;
     width: 30px;
     margin-right: 10px;
     background-image: url(https://www.econoblog.com.ar/wp-content/uploads/2021/08/FB-Argentina-Programa.jpg);
     background-size: contain;
   }

   .logode{
     display: flex;
     
   }
   .logoarg{
     display: flex;
     
     
     
   }
   .logousal{
     display: flex;
   }

   @media screen and (max-width: 985px){
    .foto_logo {
         display: none;
      }
    }